.calculator {
    width: 400px;
    margin-left: 34%;
    margin-top: 70px
}

.calculator-screen {
    width: 100%;
    height: 120px;
    border: none;
    background-color: #000000;
    padding-right: 0px;
    padding-left: 0px;
    border-bottom: 1px solid rgb(225, 248, 12);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

button {
    height: 60px;
    background-color: #fff;
    border-radius: 50px;
    border: 1.5px solid rgba(252, 115, 3, 0.459);
    background-color: transparent;
    color: #fff;
    font-size: 18px;
}

button:hover {
    /* background-color: rgba(58, 58, 57, 0.178); */
    border: 2px solid rgba(252, 115, 3, 0.459);
    transform: scale(1.09);
}

.operator {
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid rgb(252, 115, 3);
}

.operator:hover {
    background-color: rgb(252, 115, 3);
    border: 2px solid rgb(252, 115, 3);
    transform: scale(1);
}

.all-clear {
    background-color: rgb(252, 115, 3);
    border-color: rgba(0, 0, 0, 0.349);
    color: #fff;
}

.all-clear:hover {
    background-color: #000000;
    border: 2px solid rgb(252, 115, 3);
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background-color: #000000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#result {
    position: relative;
    top: 58px;
    width: 100%;
    height: 50%;
    background-color: rgb(0, 0, 0);
    border: none;
    text-align: right;
    font-size: 40px;
    color: white;
}